<main class="grow container stack stack--no-gap">
    <section class="header">
      <h2><%= t('views.services.new.header.title') %></h2>
    </section>
    <%= render 'service/form', service: @service %>
</main>