<main class="container grow stack container--padding--bottom-xs">
   <div class="header">
    <h1><%= t('views.services.new.header.title') %></h1>
   </div>
  <div class="grow stack">
      <%= render 'form', service: @service %>
  </div>    
</main>