<section class='cover cover--background-primary' id="hero">
    <div class="container switcher switcher--reverse">
        <div class="illustration--medium center">
            {{ partial "svgs/by_my_car" }}
        </div>
        <div class="stack">
            <div>
                <h1 class="text__color--light">{{ .Params.cover.title }}</h1>
                <p>{{ .Params.cover.subtitle }}</p>
            </div>
            <div class="cluster">
                <a class='btn btn--light' href={{ .Params.cta.href }} >{{ .Params.cta.title }}</a>
            </div>
        </div>
    </div>
</section>