<article class="banner banner__medium">
    <div class="switcher {{ cond (modBool (.index) 2) "" "switcher--reverse" }}">
        <span class="illustration--medium center" data-appearable>
            {{ partial (printf "svgs/%s" .context.illustration) }}
        </span>
        <div class="stack" >
            <span class="stack">
                <h1 class="text__color--primary">{{ .title }} {{(add (.index) 1)}}</h1>
                <p>{{ .context.text }}</p>
            </span>
            <p class="features__row__content__appendix">{{ .context.appendix }}</p>  
        </div>
    </div>
</article>