
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (prefers-reduced-motion: no-preference) {
    [data-appearable] {
        opacity: 0;
    }
    .appear {
      animation-name: appear;
      animation-duration: 1s;
      -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
      -moz-animation-fill-mode: forwards;    /* FF 5+ */
      -o-animation-fill-mode: forwards;      /* Not implemented yet */
      -ms-animation-fill-mode: forwards;     /* IE 10+ */
      animation-fill-mode: forwards;  
    }

  }

@keyframes disappear {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .disapear {
      animation-name: disappear;
      animation-duration: 5s;
      -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
      -moz-animation-fill-mode: forwards;    /* FF 5+ */
      -o-animation-fill-mode: forwards;      /* Not implemented yet */
      -ms-animation-fill-mode: forwards;     /* IE 10+ */
      animation-fill-mode: forwards;  
    }

  }

@keyframes appear-then-fade {
    0%, 100% {
      opacity:0
    }
    5%, 60% {
      opacity:1
    }
  }