<section class="header center">
    <%= render(ModalComponent.new(
    title: t('views.application.menu.title'), 
    link_content: inline_svg('menu.svg', class: 'text__color--dark'), 
    link_class: 'header__menu', 
    content_full_screen: true) ) do %>
        <%= render(MenuComponent.new(links: [[:log_out, destroy_user_session_path, :delete]])) %>
    <% end %>
    <span class='cluster'>
        <div class="center">
            <%= inline_svg 'ticket.svg'%>
        </div>
        <h2><%= t 'application.name' %></h2>
    </span>
</section>