<section class="header center">
    <span class='cluster'>
        <div class="center">
            <%= inline_svg 'ticket.svg'%>
        </div>
        <h2><%= t 'application.name' %></h2>
    </span>
</section>