<div class="center">
    <div class="<%= class_names(
        'loader--ring', 
        local_assigns[:size] ? "loader--ring--#{local_assigns[:size]}" :  "loader--ring--small", 
        "loader--ring--#{local_assigns[:color] || 'white'}"
        ) %>" >
        <div></div><div></div><div></div><div></div>
    </div>
</div>

