<div class="navbar"> 
    <%= link_to root_path do %>
        <h1 class='text__color--light'>Pervenche</h1>
    <% end %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn--light', data: {turbo: :false}  %>
</div>