<table>
    <thead>
        <tr>
            <% data[:header].each do |column| %>
                <th><%= column %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% data[:rows].each do |row| %>    
            <tr>
                <% row.each do |column| %>
                    <td><%= column %></td>
                <% end %>
            </tr>
        <% end %>    
    </tbody>
</table>