<table id="datatable" class="Datatable">
        <thead>
            <tr>
                <% headers.each do |header| %>
                  <th><%= header %></th>
                <% end %>
            </tr>
        </thead>
       <tbody>
        <% formated_rows.each do |formated_row| %>
          <tr>
            <% formated_row.each do |cell| %>
              <td><%= cell %></td>
            <% end %>
          </tr>
        <% end %>
       </tbody>
</table>
