<section class="header">
  <div class="stack">
    <span class="cluster cluster--no-wrap">
      <h2><%= @title %></h2>
    </span>
    <% if @subtitle %>
      <p><%= @subtitle %></p>
    <% end %>
  </div>
</section>     