<main class="container">
   <div class="header">
    <h1><%= t('views.robots.index.header.title') %></h1>
    <%= link_to t('views.robots.index.header.new'),
                new_robot_path,
                class: "btn btn--primary",
                data: { turbo: false } %>
    </div>
    <div class="stack">
        <%= render @robots %>
        <p class='stack__only'><%= t('views.robots.index.empty') %></p>
    </div>    
</main>