<main class='grow container stack'>
    <section>
        <div class="center box box--danger">
          <%= render Uistiti::Alpha::Flex.new(direction: :row)  do %>
            <h1>Tickets non pris</h1>
            <h1><%= 18 %></h1> 
          <% end %>
        </div>
    </section>
</main>