{{ define "main" }}
    <main >
      <nav class="navbar">
        <h1 class="text__color--light">Pervenche</h1>
      </nav>
      {{ partial "cover" . }}
      <section id="how_it_works" class="container stack">
        <div class="header center">
          <h1>{{  .Params.how_it_works.header }}</h1>
        </div>
        <div class="features">
          {{ $.Scratch.Set "step_number" .Params.how_it_works.step_number }}
          {{ range $index, $element := .Params.how_it_works.steps }}
          {{ partial "step" (dict "context" . "index" $index  "element" $element "title" ($.Scratch.Get "step_number")) }}
          {{ end }}
        </div>
      </section>
      <section id="call_to_action" class="container">
        <div class="banner">
          <div class="center">
            <a class='btn btn--primary' href={{ .Params.ctas.primary.href }} >{{ .Params.ctas.primary.title }}</a>
          </div>
        </div>
      </section>
      <section id="#pricing" class="container">
        <div class="box stack">
          <h1>Combien ça coute ?</h1>
          <span>
            <p>{{ .Params.pricing.text | markdownify }}</p>
          </span>
        </div>
      </section>

      <footer class="banner center">
        <p>© 2022 Pervenche All Rights Reserved</p>
      </footer>
    </main>
{{ end }}