{{ define "main" }}
    <main >
      <nav class="navbar navbar--inverted">
        <a href="/#hero" class="logo">
          <h1 class="logo">Pervenche</h1>
        </a>
        <div class="cluster">
          
          <a href="/#how_it_works">{{ .Params.nav.links.how_it_works.title }}</a>
          <a href="/#pricing">{{ .Params.nav.links.pricing.title }}</a>
        </div>
      </nav>
      {{ partial "cover" . }}
      <section id="how_it_works" class="container stack">
        <div class="banner banner__small center">
          <h1>{{  .Params.how_it_works.header }}</h1>
        </div>
        {{ $.Scratch.Set "step_number" .Params.how_it_works.step_number }}
          {{ range $index, $element := .Params.how_it_works.steps }}
          {{ partial "step" (dict "context" . "index" $index  "element" $element "title" ($.Scratch.Get "step_number")) }}
        {{ end }}
      </section>
      <section id="pricing" class="banner banner__small banner--primary center">
        <div class="container stack">
          <h1 class="text__color--light center">{{ .Params.pricing.title }}</h1>
        <span>
          <p>{{ .Params.pricing.text | markdownify }}</p>
        </span>
        </div>
      </section>
      <section id="call_to_action" class="container">
        <div class="banner banner__small center">
          <div class="center">
            <a class='btn btn--primary' href={{ .Params.cta.href }} >{{ .Params.cta.title }}</a>
          </div>
        </div>
      </section>
      <footer class="banner banner__small banner--primary center">
        <p>© 2022 Pervenche All Rights Reserved</p>
      </footer>
    </main>
{{ end }}

