---
http_interactions:
- request:
    method: post
    uri: https://pervenche-test.chargebee.com/api/v2/hosted_pages/checkout_new_for_items
    body:
      encoding: UTF-8
      string: subscription_items%5Bitem_price_id%5D%5B0%5D=combustion_car_eur_monthly&customer%5Bid%5D=BTcd3pTchKzWzG2u&customer%5Bcf_environment%5D=test&redirect_url=http%3A%2F%2Flocalhost%3A3000%2Fautomated_tickets%2F111%2Fsetup%2Fsubscription&type=checkout_new
    headers:
      Lang-Version:
      - 3.2.1
      Os-Version:
      - arm64-darwin20
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF8yM0g1TWhpZUhpMTFtRXBjc1N6MVNnVlVoY2pSb3paSDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"hosted_page": {
            "id": "oXZvOrUdHBk7WGakcd5upSFwPivz1BcdtV",
            "type": "checkout_new",
            "url": "https://pervenche-test.chargebee.com/pages/v3/oXZvOrUdHBk7WGakcd5upSFwPivz1BcdtV/",
            "state": "created",
            "embed": false,
            "created_at": 1682670453,
            "expires_at": 1682681253,
            "object": "hosted_page",
            "updated_at": 1682670453,
            "resource_version": 1682670453426
        }}
  recorded_at: Fri, 28 Apr 2023 08:27:33 GMT
- request:
    method: post
    uri: https://pervenche-test.chargebee.com/api/v2/hosted_pages/checkout_new_for_items
    body:
      encoding: UTF-8
      string: subscription_items%5Bitem_price_id%5D%5B0%5D=combustion_car_eur_monthly&customer%5Bid%5D=BTcd3pTchKzWzG2u&customer%5Bcf_environment%5D=test&redirect_url=http%3A%2F%2Flocalhost%3A3000%2Fautomated_tickets%2F111%2Fsetup%2Fsubscription&type=checkout_new
    headers:
      Lang-Version:
      - 3.2.1
      Os-Version:
      - arm64-darwin20
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF8yM0g1TWhpZUhpMTFtRXBjc1N6MVNnVlVoY2pSb3paSDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"hosted_page": {
            "id": "6RuUlukZgMOruMMgxCdakVsetMTj0cdBT",
            "type": "checkout_new",
            "url": "https://pervenche-test.chargebee.com/pages/v3/6RuUlukZgMOruMMgxCdakVsetMTj0cdBT/",
            "state": "created",
            "embed": false,
            "created_at": 1682670453,
            "expires_at": 1682681253,
            "object": "hosted_page",
            "updated_at": 1682670453,
            "resource_version": 1682670453908
        }}
  recorded_at: Fri, 28 Apr 2023 08:27:33 GMT
recorded_with: VCR 6.1.0
