---
http_interactions:
- request:
    method: get
    uri: https://pervenche-test.chargebee.com/api/v2/customers/BTTzPTThSY5dNHw3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF8yM0g1TWhpZUhpMTFtRXBjc1N6MVNnVlVoY2pSb3paSDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"customer": {
            "id": "BTTzPTThSY5dNHw3",
            "email": "tomecrepont@gmail.com",
            "auto_collection": "on",
            "net_term_days": 0,
            "allow_direct_debit": false,
            "created_at": 1687022405,
            "taxability": "taxable",
            "updated_at": 1687022405,
            "pii_cleared": "active",
            "channel": "web",
            "resource_version": 1687022405945,
            "deleted": false,
            "object": "customer",
            "card_status": "no_card",
            "promotional_credits": 0,
            "refundable_credits": 0,
            "excess_payments": 0,
            "unbilled_charges": 0,
            "preferred_currency_code": "EUR",
            "tax_providers_fields": []
        }}
  recorded_at: Tue, 20 Jun 2023 06:31:01 GMT
recorded_with: VCR 6.1.0
