---
http_interactions:
- request:
    method: post
    uri: https://auth.paybyphoneapis.com/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=a_fake_username&password=a_fake_password&client_id=paybyphone_web
    headers:
      X-Pbp-Clienttype:
      - WebApp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681229115.917'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.159'
      X-Time-Iso:
      - '2023-04-11T16:05:15+00:00'
    body:
      encoding: UTF-8
      string: '{"access_token":"a_token","expires_in":1200,"refresh_token":"gvPcMPBSXXYJ3LYSGfVgIXN1kTMl2qAQnWjFglFRqJ3","scope":"paybyphone","token_type":"Bearer"}'
  recorded_at: Tue, 11 Apr 2023 16:05:16 GMT
[...]
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/parking/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681229117.263'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.033'
      X-Time-Iso:
      - '2023-04-11T16:05:17+00:00'
    body:
      encoding: UTF-8
      string: '[{"id":"account_id"}]'
  recorded_at: Tue, 11 Apr 2023 16:05:17 GMT
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/parking/accounts/account_id/quote?durationQuantity=1&durationTimeUnit=Days&isParkUntil=false&licensePlate=CL123UU&locationId=75019&parkingAccountId=account_id&rateOptionId=1085252721
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681229119.737'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.676'
      X-Time-Iso:
      - '2023-04-11T16:05:19+00:00'
    body:
      encoding: UTF-8
      string: '{"locationId":"75019","stall":null,"quoteDate":"2023-04-11T16:05:19Z","totalCost":{"amount":50.0,"currency":"EUR"},"parkingAccountId":"account_id","parkingStartTime":"2023-04-11T16:05:19Z","parkingExpiryTime":"2023-04-12T11:05:19Z","parkingDurationAdjustment":"DurationDecreased","licensePlate":"CL123UU","quoteItems":[{"quoteItemType":"Parking","name":"Parking","costAmount":{"amount":50.0,"currency":"EUR"}}],"quoteId":"e3f527e9-58ea-49d1-a917-ff6880f1017f","paymentMode":"Paid","promotionApplied":null}'
  recorded_at: Tue, 11 Apr 2023 16:05:19 GMT
recorded_with: VCR 6.1.0
