---
http_interactions:
- request:
    method: post
    uri: https://auth.paybyphoneapis.com/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=a_fake_username&password=a_fake_password&client_id=paybyphone_web
    headers:
      X-Pbp-Clienttype:
      - WebApp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681227701.774'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.257'
      X-Time-Iso:
      - '2023-04-11T15:41:41+00:00'
    body:
      encoding: UTF-8
      string: '{"access_token":"a_token","expires_in":1200,"refresh_token":"lgxFWgIwtKt4MHzQVeBI80EtixYXcwkA3cyVYUABV0w","scope":"paybyphone","token_type":"Bearer"}'
  recorded_at: Tue, 11 Apr 2023 15:41:41 GMT
[...]
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/identity/profileservice/v1/members/vehicles/paybyphone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681227702.836'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.035'
      X-Time-Iso:
      - '2023-04-11T15:41:42+00:00'
    body:
      encoding: UTF-8
      string: '[{"vehicleId":"dCqmcYtMBVHXeKKSPL6TZ3aGq3NoLCAgovAP-fJaAl2RBOeCgO62Q_M5Urz4Oakb1wmZ22TyN9MBtqzDUHBcyg","legacyVehicleId":55757296,"licensePlate":"CL123UU","country":"FR","type":"Car"},{"vehicleId":"v_cO-eR4UHbRCdX3MaO-aIrfFHQdaVLIMapxxLuFSe45RLZoAU9z1XdaiGTortXSqZH2k_9Rej97qB8Cdah2sQ","legacyVehicleId":94411639,"licensePlate":"GF123XX","country":"FR","jurisdiction":"","type":"ElectricMotorcycle","profile":{"photo":"","description":"scoot
        de Tho"}},{"vehicleId":"RArpPrn2JNLaZv7DKXg-IE1lmBuL09N5dzHKE1X28CcQNxVl9ixcU1_YaUVxro6A1eDuC7UtwYu39surE-coPg","legacyVehicleId":36022663,"licensePlate":"ED123YY","country":"FR","type":"Car"},{"vehicleId":"UO1TTdQjA51k-gKgWZGZ6dWu66w_DeI1Ib5KkA1jahzyi6vpTAFXYBig1mjsgobirbsQiKYkGv_nb6LTWVls5A","legacyVehicleId":89703481,"licensePlate":"FM123OO","country":"FR","jurisdiction":"","type":"Car","profile":{"photo":"","description":"van
        Cheyerre"}}]'
  recorded_at: Tue, 11 Apr 2023 15:41:42 GMT
recorded_with: VCR 6.1.0
