---
http_interactions:
- request:
    method: post
    uri: https://auth.paybyphoneapis.com/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=a_fake_username&password=a_fake_password&client_id=paybyphone_web
    headers:
      X-Pbp-Clienttype:
      - WebApp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681333671.041'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.157'
      X-Time-Iso:
      - '2023-04-12T21:07:51+00:00'
    body:
      encoding: UTF-8
      string: '{"access_token":"a_token","expires_in":1200,"refresh_token":"sPO84e1F0JdPYYZf6LEGa8Rabv-D4oVyFUgFPjh5L4U","scope":"paybyphone","token_type":"Bearer"}'
  recorded_at: Wed, 12 Apr 2023 21:07:51 GMT
[...]
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/identity/profileservice/v1/members/vehicles/paybyphone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681333672.162'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.035'
      X-Time-Iso:
      - '2023-04-12T21:07:52+00:00'
    body:
      encoding: UTF-8
      string: '[{"vehicleId":"dCqmcYtMBVHXeKKSPL6TZ3aGq3NoLCAgovAP-fJaAl2RBOeCgO62Q_M5Urz4Oakb1wmZ22TyN9MBtqzDUHBcyg","legacyVehicleId":55757296,"licensePlate":"a_license_plate","country":"FR","type":"Car"},{"vehicleId":"v_cO-eR4UHbRCdX3MaO-aIrfFHQdaVLIMapxxLuFSe45RLZoAU9z1XdaiGTortXSqZH2k_9Rej97qB8Cdah2sQ","legacyVehicleId":94411639,"licensePlate":"a_other_other_license_plate","country":"FR","jurisdiction":"","type":"ElectricMotorcycle","profile":{"photo":"","description":"scoot
        de Tho"}},{"vehicleId":"RArpPrn2JNLaZv7DKXg-IE1lmBuL09N5dzHKE1X28CcQNxVl9ixcU1_YaUVxro6A1eDuC7UtwYu39surE-coPg","legacyVehicleId":36022663,"licensePlate":"a_other_license_plate","country":"FR","type":"Car"},{"vehicleId":"UO1TTdQjA51k-gKgWZGZ6dWu66w_DeI1Ib5KkA1jahzyi6vpTAFXYBig1mjsgobirbsQiKYkGv_nb6LTWVls5A","legacyVehicleId":89703481,"licensePlate":"a_other_other_other_license_plate","country":"FR","jurisdiction":"","type":"Car","profile":{"photo":"","description":"van
        Cheyerre"}}]'
  recorded_at: Wed, 12 Apr 2023 21:07:52 GMT
[...]
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/parking/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681333673.881'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.022'
      X-Time-Iso:
      - '2023-04-12T21:07:53+00:00'
    body:
      encoding: UTF-8
      string: '[{"id":"b577ed39-6f82-4fad-b38e-17fb5792c91a"}]'
  recorded_at: Wed, 12 Apr 2023 21:07:53 GMT
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/parking/locations/75018/rateOptions?licensePlate=CL12345KK&parkingAccountId=b577ed39-6f82-4fad-b38e-17fb5792c91a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Request-Start:
      - '1681333674.519'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.240'
    body:
      encoding: UTF-8
      string: '{"issues":[{"reason":"VehicleNotFound"}]}'
  recorded_at: Wed, 12 Apr 2023 21:07:54 GMT
[...]
- request:
    method: get
    uri: https://payments.paybyphoneapis.com/v1/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a_token
      Content-Type:
      - application/json
      X-Api-Key:
      - zZ4ePLvoBBD1YwBGCo6P5DiPLDjSss3j
      X-Pbp-Clienttype:
      - WebApp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '9'
      X-Request-Start:
      - '1681333676.252'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.029'
      X-Time-Iso:
      - '2023-04-12T21:07:56+00:00'
    body:
      encoding: UTF-8
      string: '{"paymentCards":[{"coBrandCardTypes":["CarteBancaire","MasterCard"],"cardType":"MasterCard","accountType":"PaymentCard","maskedCardNumber":"------------2021","expiryMonth":"09","expiryYear":"2025","issueNumber":"","startMonth":"","startYear":"","paymentAccountId":"2c19093a-a257-4011-a0a6-df9d1b62542f","billingAddress":{},"paymentScope":"Private","consent":{"consentType":"OnGoing","consentGivenDate":"2023-01-31T08:44:13.090699+00:00"},"createdOn":"2023-01-31T08:45:20.735035+00:00","creationStatus":{"paymentAccountId":"2c19093a-a257-4011-a0a6-df9d1b62542f","cardValidations":[{"gateway":"Ogone","paymentAccountId":"2c19093a-a257-4011-a0a6-df9d1b62542f","countryCode":"FR","distributionChannel":"pbp-android"}],"status":"Created","failureReason":0}},{"coBrandCardTypes":["Visa"],"cardType":"Visa","accountType":"PaymentCard","maskedCardNumber":"------------2358","expiryMonth":"11","expiryYear":"2027","issueNumber":"","startMonth":"","startYear":"","paymentAccountId":"6bb6073a-d81e-46ad-9a33-54337c1ddf82","billingAddress":{},"paymentScope":"Private","consent":{"consentType":"OnGoing","consentGivenDate":"2022-11-23T11:27:35.640304+00:00"},"createdOn":"2022-11-23T11:29:10.745028+00:00","creationStatus":{"paymentAccountId":"6bb6073a-d81e-46ad[...]
[...]
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/parking/accounts/b577ed39-6f82-4fad-b38e-17fb5792c91a/sessions?periodType=Current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Start:
      - '1681333678.922'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.540'
      X-Time-Iso:
      - '2023-04-12T21:07:58+00:00'
    body:
      encoding: UTF-8
      string: '[{"parkingSessionId":"4f890a3a-b7b1-4cf5-8b31-67c7b9fe0970","locationId":"75001","startTime":"2023-04-12T20:23:03Z","stall":null,"expireTime":"2023-04-13T18:00:00Z","vehicle":{"id":94411639,"licensePlate":"GF929AP","type":"electricMotorcycle","countryCode":"FR","jurisdiction":""},"rateOption":{"rateOptionId":"1244259777","type":"VP-2RM"},"isStoppable":true,"fpsApplies":false,"totalCost":null,"isExtendable":false,"isRenewable":false,"renewableAfter":null,"segments":[{"parkingStart":"2023-04-12T20:23:03Z","parkingEnd":"2023-04-13T18:00:00Z","cost":0.0,"fees":0.0,"chargeableTimeUnitsParked":660,"chargeableTimeUnitType":1,"freeTimeUnitsApplied":0,"freeTimeUnitType":1}],"maxStayState":"MaxStayReached"},{"parkingSessionId":"4e890a3a-7cfa-4b31-85dd-7be1e026cf13","locationId":"75002","startTime":"2023-04-12T20:22:16Z","stall":null,"expireTime":"2023-04-13T18:00:00Z","vehicle":{"id":94411639,"licensePlate":"GF929AP","type":"electricMotorcycle","countryCode":"FR","jurisdiction":""},"rateOption":{"rateOptionId":"1244259777","type":"VP-2RM"},"isStoppable":true,"fpsApplies":false,"totalCost":null,"isExtendable":false,"isRenewable":false,"renewableAfter":null,"segments":[{"parkingStar[...]
[...]
- request:
    method: get
    uri: https://consumer.paybyphoneapis.com/parking/accounts/b577ed39-6f82-4fad-b38e-17fb5792c91a/quote?durationQuantity=1&durationTimeUnit=Days&isParkUntil=false&licensePlate=CL12345KK&locationId=75018&parkingAccountId=b577ed39-6f82-4fad-b38e-17fb5792c91a&rateOptionId=bhkjhlkjhkljhlkjhlkjhkjhkzeizeoiruzeo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer a_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Request-Start:
      - '1681333680.914'
      X-Upstream-Response-Time:
      - "-"
      X-Request-Time:
      - '0.027'
    body:
      encoding: UTF-8
      string: '{"issues":[{"reason":"RateOptionIdInvalidFormat"}]}'
  recorded_at: Wed, 12 Apr 2023 21:08:00 GMT
recorded_with: VCR 6.1.0
