---
http_interactions:
- request:
    method: get
    uri: https://pervenche-test.chargebee.com/api/v2/customers/another_customer_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdF8yM0g1TWhpZUhpMTFtRXBjc1N6MVNnVlVoY2pSb3paSDo=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Sorry, we couldn''t find that resource","type":"invalid_request","api_error_code":"resource_not_found","error_code":"resource_not_found","error_msg":"Sorry,
        we couldn''t find that resource","http_status_code":404}'
  recorded_at: Tue, 20 Jun 2023 06:29:35 GMT
recorded_with: VCR 6.1.0
