<section class="<%= class_names('center', 'box', ('box--success' if state == 'Ok'),  ('box--danger' if state == 'Fail'), ('box--tertiary' if state == 'Loading')) %>" >
    <div class='cluster' >
      <h1><%= t("admin.diagnostics.client.partials.client.pay_by_phone.#{kind}") %></h1>
    </div>
</section>

