.cluster {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;

    &--no-wrap {
        flex-wrap: nowrap ;
    }
    
    &__align-items {
        &--center {
            align-items: center;
        }
        &--end {
            align-items: end;
        }
    }

    &__gap {
        &--s {
            gap: var(--space-s);
        }
        &--m {
            gap: var(--space-m);
        }
        &--m {
            gap: var(--space-l);
        }
    }
    
    &__justify-content{
        &--space-between {
            justify-content: space-between;
        }
        &--end {
            justify-content: end;
        }
    }
}