.cluster {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;

    &--no-wrap {
        flex-wrap: nowrap ;
    }
    
    &__align-items {
        &--center {
            align-items: center;
        }
        &--end {
            align-items: end;
        }
    }
    
    &__justify-content{
        &--between {
            justify-content: space-between;
        }
    }
}