.cluster {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
    
    &__align-items {
        &--center {
            align-items: center;
        }
        &--end {
            align-items: end;
        }
    }
}