.header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    justify-content: space-between;
    margin-block: var(--space-l);

    &__menu {
      position: absolute;
      left: var(--space-l);
    }

    &__icon_end {
      position: absolute;
      right: var(--space-l);
    }

    &__icon_start {
      position: absolute;
      left: var(--space-l);
    }

    @include media(tabletAndUp) {
      margin-block: var(--space-xl);
    }
  }