.header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    justify-content: space-between;
    margin: var(--space-xl) 0;
  
    @include media(tabletAndUp) {
      margin-bottom: var(--space-xl);
    }
  }