.stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    &__only {
        display: none;
        &:only-child {
            display: block;
        }
    }

    &--l{
        gap: var(--space-l);   
    }
    &--xs{
        gap: var(--space-xs);  
    }
    &--no-gap{
        gap: 0;  
    }

    &--justify-content{
        &--end{
            justify-content: end;
        }
        &--between{
            justify-content: space-between;
        }
        &--center{
            justify-content: center;
        }
    }
}