.text {
  &__align--center{
    text-align: center  !important;;
  }

  &__size {
    &--s{
      font-size:  var(--font-size-s) !important;;
    }
  }

  &__weigth {
    &--bold{
      font-weight: bold;
    }
  }

  &__color{
    &--light{
      color: var(--color-light)  !important;;
    }
    &--primary{
      color: var(--color-primary)  !important;;
    }
    &--success{
      color: var(--color-success)  !important;;
    }
    &--danger{
      color: var(--color-danger)  !important;;
    }
    &--muted{
      color: var(--color-text-muted)  !important;;
    }
    &--dark{
      color: var(--color-dark)  !important;;
    }
  }
}

.margin {
  &__bottom {
    &--l {
      margin-block-end: var(--space-l) !important;
    }
    &--xxxxxxxl {
      margin-block-end: var(--space-xxxxxxxl) !important;
    }
  }
  &__top {
    &--xl {
      margin-block-start: var(--space-xl) !important;
    }
  }
}

.grow {
  flex-grow: 1 !important;
}
