.text {
  &__align--center{
    text-align: center  !important;;
  }

  &__color{
    &--light{
      color: var(--color-light)  !important;;
    }
    &--success{
      color: var(--color-success)  !important;;
    }
    &--danger{
      color: var(--color-danger)  !important;;
    }
  }
}

.grow {
  flex-grow: 1 !important;
}
