

<main class="grow container stack stack--no-gap">
    <%= render 'automated_tickets/setup/shared/form', 
        automated_ticket: @automated_ticket, 
        step: @step, 
        header_content: t("views.setup.kind.header.title") do |f| %>
      <div class="form_group stack stack--xs">
        <%= f.input :kind, 
               as: :type_picker, 
               wrapper: false,
               collection: AutomatedTicket.kinds.map{|kind, integer| [AutomatedTicket.human_enum_name(:kinds, kind.to_sym), kind]} %>
    <% end %>
</main>