<main class="container">
   <div class="header">
    <h1><%= t('views.automated_tickets.index.header.title') %></h1>
    <%= link_to t('views.automated_tickets.index.header.cta'),
                new_automated_ticket_path,
                class: "btn btn--primary",
                data: { turbo: false } %>
    </div>
    <div class="stack">
        <%= render @automated_tickets %>
        <p class='stack__only'><%= t('views.automated_tickets.index.empty') %></p>
    </div>    
</main>