<main class="grow container stack">
    <%= render 'components/header' %>
    <section class="stack grow">
       <%= render @automated_tickets %>
    </section>
    <section class="footer cluster margin__bottom--l">
        <%= link_to t('views.automated_tickets.index.cta'),
                new_automated_ticket_path,
                class: "btn btn--primary center grow",
                id: 'new_automated_ticket_btn',
                data: { turbo: false } 
        %>
    </section>
</main>
