<main class="grow container stack">
    <section class="header center">
        <span class='cluster'>
            <div class="center">
                <%= inline_svg 'ticket.svg'%>
            </div>
            <h2><%= t 'application.name' %></h2>
        </span>
    </section>
    <section class="stack grow">
       <%= render @automated_tickets %>
    </section>
    <section class="footer stack margin__bottom--l">
        <%= link_to t('views.automated_tickets.index.cta'),
                new_automated_ticket_path,
                class: "btn btn--primary center",
                data: { turbo: false } 
        %>
    </section>
</main>
