.clickable {
  display: flex;
  & .clickable__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
    padding: var(--space-m) 0;
    border-radius: var(--border-radius);
  }
  & input:checked + .clickable__content {
    background-color: var(--color-primary-light);
    border: var(--border-primary);
    > * {
      color: var(--color-primary)
  }
  }
}