.features {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    &__row{
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        align-items: center;
        &__content {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__appendix {
                font-size: var(--font-size-xs);
            }
        }
    }
    @include media(tabletAndUp) {
        &__row{
            flex-direction: row;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
      }
}