.flash {
  position:fixed; 
  top: 0px; 
  left: 0px; 
  width: 100%;
  z-index:9999; 
  color: var(--color-white);

  > .flash__content {
    margin: var(--space-l);
    border-radius: var(--border-radius);
    padding: var(--space-xs);

    ul {
      list-style-type: none;
    }
  }

  &--alert{
    > .flash__content {
      background-color: var(--color-danger);
    }
  }
  &--notice{
    > .flash__content {
      background-color: var(--color-success);
    }
  }
}


