.form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);

    &--column {
        flex-direction: column;
    }
  
    &__group {
      flex: 1;
      &--column {
        display: flex;
        flex-direction: column;
      }
    }
  
    &__input {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: var(--space-xxs) var(--space-xs);
      border: var(--border);
      border-radius: var(--border-radius);
      outline: none;
      transition: box-shadow 250ms;
  
      &:focus {
        box-shadow: 0 0 0 2px var(--color-glint);
      }
  
      &--invalid {
        border-color: var(--color-primary);
      }
    }

    input[type="radio"]:checked + .form__input {
      border: var(--border-primary);
    }
  }