.form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);

    &--column {
        flex-direction: column;
    }
  
    &__group {
      flex: 1;
      &--column {
        display: flex;
        flex-direction: column;
      }
    }
  
    &__input {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: var(--space-xxs) var(--space-xs);
      border: var(--border);
      border-radius: var(--border-radius);
      outline: none;
      transition: box-shadow 250ms;
      background-color: var(--color-white);
  
      &:focus {
        box-shadow: 0 0 0 2px var(--color-glint);
      }
  
      &--invalid {
        border-color: var(--color-primary);
      }

      &__weekdays {
        display: flex;
        gap: var(--space-xs);
        flex-wrap: wrap;

        .checkbox{
          width: var(--image-xxxxxxl);
          height: var(--image-xxxxxxl);
          display: flex;
          label{
            border: var(--border);
            border-radius: var(--border-radius-round);
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
           }
           input:checked + label {
            border: var(--border-primary);
            background-color: var(--color-primary);
            color: var(--color-white);
           }
        }
      }

      &__tiles{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--space-xs);
        &__tile {
          display: flex;
          flex-direction: column;
          > .clickable {
            flex: 1;
            border: var(--border);
            padding: var(--space-m) 0;
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

          }
          > input:checked + .clickable {
            background-color: var(--color-primary-light);
            border: var(--border-primary);
            > * {
              color: var(--color-primary)
            }
          }
          
          .disabled {
            > * {
              color: var(--color-text-muted)
            }
          }
        }
        &__tile_with_icon{
          height: var(--image-xxxxxxxxxxxxxxxxl);
          width: var(--image-xxxxxxxxxxxxxxxxl);
          display: flex;
          > span {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            border: var(--border);
            border-radius: var(--border-radius);
            align-items: center;
            justify-content: center;
            img {
              width: var(--image-xxxxxxxl);
              border-radius: var(--border-radius);
            }
          }
          
          > input:checked + span {
            background-color: var(--color-light);
            border: var(--border-primary);
          }
          
          &--disabled {
            flex-direction: column;
            > span {
              background-color: var(--color-text-muted);
              color: var(--color-white);
              img {
                filter: grayscale(.7) ;
              }
            }
          }
        }
      }

      &__type__picker {
        &__type {
          > .clickable {
            flex: 1;
            border: var(--border);
            padding: var(--space-m) 0;
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

          }
          > input:checked + .clickable {
            background-color: var(--color-primary-light);
            border: var(--border-primary);
            > * {
              color: var(--color-primary)
            }
          }
        }
      }
    }

    input[type="radio"]:checked + .form__input {
      border: var(--border-primary);
    }
  }