.illustration {
    &--small {
        > img,svg {
            max-width: 25vw;
        }
    }
    &--medium {
        > img,svg {
            max-width: 50vw;
        }
    }
    &--large {
        > img,svg {
            max-width: 75vw;
        }
    }
}