.infocard {
    padding: var(--space-m);
    border-radius: var(--border-radius);
    &--muted {
      background-color: var(--color-muted);
    }
    &--primary {
      background-color: var(--color-primary-light);

      .infocard__content {
        .infocard__title {
          color: var(--color-primary);
        }
      }
    }
  }