.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-xs);
    padding: var(--space-xs);
    background-color: var(--color-primary);
    
    .logo {
      color: var(--color-background);
    }

    &--inverted {
      background-color: var(--color-background);

      .logo {
        color: var(--color-primary);
      }
    }
  }
