.navbar {
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-xs);
    padding: var(--space-xs);
    margin-bottom: var(--space-xl);
    background-color: var(--color-primary);
  }