.robot {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs);

    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        height: var(--image-xxxxl);
        margin-block: auto;
        border-radius: var(--border-radius);
    }
}