


.switch {
    position: relative;
    display: inline-block;
    width: var(--font-size-xxxxl);
    height: var(--font-size-xxl);

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var(--color-secondary);
          }
        &:checked + .slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
          }
    }
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: var(--font-size-xl);
        width: var(--font-size-xl);
        left: 2px;
        bottom: 2px;
        background-color: var(--color-white);
        -webkit-transition: .4s;
        transition: .4s;
      }
    &.round {
        border-radius: 34px;
      }
    &.round:before {
        border-radius: 50%;
      }
}
  