table {
    background-color: var(--color-light);
    border-radius: var(--border-radius);

    tbody {
        background-color: var(--color-white);
    }

    td {
        padding: var(--space-s);
    }
}