/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --color-blue: #118AB2;
    --color-background-dark:  #073B4C;
    --color-background-light: #f7fff7;
    --color-red: #EF476F;
    --color-yellow: #FFD166;
    --color-green: #06D6A0;


    --color-white:      hsl(0, 0%, 100%);
    --color-background: hsl(30, 50%, 98%);
    --color-light:      hsl(0, 6%, 93%);

    --font-size-xs: 0.75rem;  
    --font-size-s: 0.875rem;  
    --font-size-m: 1rem;      
    --font-size-l: 1.125rem;  
    --font-size-xl: 1.25rem;  
    --font-size-xxl: 1.5rem;  
    --font-size-xxxl: 2rem;   
    --font-size-xxxxl: 2.5rem;
  }

 .field_with_errors > input {
    width: 100%;
    border: solid var(--color-red);
  }

#error_explanation > ul > li {
    color: var(--color-red);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Switcher */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: var(--font-size-xxxxl);
    height: var(--font-size-xxl);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-red);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--font-size-xl);
    width: var(--font-size-xl);
    left: 2px;
    bottom: 2px;
    background-color: var(--color-white);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-green);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }